---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

a.play:link, a.play:visited {
  background-color: #f44336;
  color: white !important;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  transition: all 150ms ease-out; 
}
a.play:hover, a.play:active {
  background-color: red;
  color: white !important;
  text-decoration: none;
}